@import "minireset"
@import "utils"
@import "browser-upgrade"

// overall

body
  @extend .font-sans-serif
  background-color: #fdc72e

.site
  &__header
    @extend .clearfix
    position: relative
    max-width: 1300px
    min-height: 148px
    margin: 0 auto
  &__title
    position: absolute
    top: -80px
    left: -152px
  &__logo
    max-width: 460px
  &__old-sign-in
    float: right
    text-align: right
    color: #fff
  &__old-sign-in-link
    font-size: 21px
    color: #fff
    text-decoration: none
    &:hover
      text-decoration: underline

@media (max-width: 1200px)
  .site
    &__header
      margin-bottom: 3rem

@media (max-width: 520px)
  .site
    &__header
      min-height: 98px
      margin-bottom: 4rem
    &__title
      top: -60px
      left: -120px
    &__logo
      max-width: 320px
    &__old-sign-in
      position: relative
      top: -1rem
      right: -1rem
    &__old-sign-in-link
      font-size: 18px

@media (max-width: 340px)
  .site
    &__old-sign-in-text
      max-width: 52px
      font-size: 12px


.email-collect
  margin: 0 auto
  max-width: 480px
  &--footer
    max-width: 380px
    margin-bottom: 6rem
    .email-collect__form
      border: 2px solid #fff
    .email-collect__email-container
      background-color: transparent
      border-bottom: 2px solid #fff
      &--focused
        background-color: rgba(255,255,255,.12)
      &:hover
        background-color: rgba(255,255,255,.12)
    .email-collect__input
      color: #fff
    .email-collect__placeholder
      color: #fff
  &__error
    margin-bottom: .5rem
    text-align: center
    color: #e03131
  &__form
    margin-bottom: 1rem
    border: 2px solid #2c3e4b
    border-radius: 2px
  &__email-container
    position: relative
    height: 50px
    background-color: #fcdd6f
    border-bottom: 2px solid #2c3e4b
    &--focused
      background-color: lighten(#fcdd6f, 8%)
    &:hover
      background-color: lighten(#fcdd6f, 8%)
  &__input
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 4px 8px
    text-align: center
    font-weight: 700 
    font-size: 18px
  &__placeholder
    line-height: 50px
    text-align: center
    font-size: 17px
    color: #2d3e4b
  &__button
    @extend .reset-button
    @extend .font-pixel
    height: 48px
    width: 100%
    font-size: 24px
    color: #fff
    background-color: #4fcead
    &:hover
      background-color: lighten(#4fcead, 8%)

// all sections

.section
  @extend .clearfix
  padding: 2rem

  &--yellow
    background-color: #fdc72e
    padding-bottom: 0
  &--blue
    background-color: #4d8ad9
  &--green
    background-color: #4fcdad
  &--pink
    background-color: #d43079
  &--gray
    background-color: #304958

  &__content
    max-width: 1000px
    margin: 0 auto
    &--yellow
      .section__lead-container
        margin-bottom: 4.5rem
    &--blue
      padding: 7rem 0 8rem
    &--pink
      padding: 6rem 0 4rem
    &--gray
      padding: 4rem 0 1rem
  &__lead
    text-align: center
    font-weight: 700
    font-size: 52px
    &--pink
      color: #e32076
    &--gray
      color: #304958
    &--yellow
      color: #fdc72e
    &--green
      color: #4fcead
  &__sub-lead
    @extend .font-pixel
    text-align: center
    font-size: 32px
    &--pink
      color: #e32075

@media (max-width: 900px)
  .section
    &__content
      &--yellow
        padding-bottom: 6rem
        .section__lead-container
          margin-bottom: 2rem

// section yellow

.preview
  display: flex
  &__monitor-container
    width: 100%
    max-width: 600px
    margin: 0 auto
  &__monitor-svg
    width: 100%
  &__icon--play-button
    cursor: pointer
    &:hover
      .preview__icon--play-button-circle
        fill: #845EF7
    .preview__icon--play-button-circle
      fill: #F1563E
  &__icon--hands
    max-width: 320px
  &__interface
    position: relative
    flex: 1.2
    margin-right: 4rem
  &__info
    flex: 1
    padding-top: 2rem
  &__info-heading
    font-size: 32px
    text-align: center
    color: #2c3e4b
  &__info-bonus-text
    margin-bottom: 4rem
    font-size: 20px
    text-align: center
    color: #304857
  &__info-hands
    margin-bottom: -3rem
    text-align: center

@media (max-width: 900px)
  .preview
    flex-direction: column-reverse
    &__interface
      margin-right: 0
    &__info-hands
      display: none


// section blue

.life-goals
  display: flex
  justify-content: space-between
  color: #fff
  &__goal
    text-align: center
  &__image-container
    display: flex
    align-items: center
    margin: 0 auto 1rem
    max-width: 140px
    min-height: 200px
  &__image
    width: 100%
  &__heading
    @extend .font-pixel
    margin-bottom: .75rem
    font-size: 32px
  &__text
    line-height: 1.5em
    font-size: 17px
    letter-spacing: .5px

@media (max-width: 960px)
  .life-goals
    display: block
    &__goal
      margin-bottom: 3rem

// section green

.how-section
  @extend .clearfix
  background-color: #4fcdad

  &__lead
    text-align: center
    font-weight: 700
    font-size: 52px

  &--section-1
    padding: 7rem 2rem 0 2rem
  &--section-2
    padding: 0 0 7rem 0

.diagonal
  position: absolute
  height: 600px
  width: 300px
  &--green-1
    top: 0
    right: 0
    transform-origin: top left
    transform: skewY(-20deg);
    background-color: #4fcdad
  &--gray
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transform-origin: top left
    transform: skewY(-20deg)
    background-color: #304958

.how
  &__parent-container
    display: flex
  &__neighbor
    flex: 1
  &__box
    padding: 1rem
  &__box-1
    width: 700px
    background-color: #304958
  &__box-2
    background-color: #4d8ad9
  &__box-3
    background-color: #fbc92e
  &__box-4
    background-color: #f2664e
  &__inner-container
    padding: 2rem 0 .25rem 0 
    text-align: center
  &__item
    @extend .font-pixel
    margin-bottom: 2rem
    font-size: 28px
    font-weight: 400
    color: #fff
    text-shadow: 0 0 3px rgba(0,0,0,.3)

@media (max-width: 760px)
  .how
    &__neighbor
      display: none

@media (max-width: 340px)
  .how
    &__box
      padding: 0
      background-color: transparent !important
    &__box-4
      background-color: rgba(0,0,0,.08) !important

// section pink

.features
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &__item
    width: 310px
    margin-bottom: 2.5rem
    padding: 16px 24px
    text-align: center
    color: #fff
  &__icon-container
    display: flex
    align-items: center
    justify-content: center
    height: 110px
    margin-bottom: 1rem
  &__icon
  &__icon--hire-me
    width: 145px
  &__icon--menu
    width: 67px
  &__icon--timeline
    width: 78px
  &__icon--brief
    width: 85px
  &__icon--contract
    width: 85px
  &__icon--payment
    width: 50px
  &__item-title
    @extend .font-pixel
    margin-bottom: 1rem
    font-size: 32px
  &__item-text
    font-size: 17px

@media (max-width: 1000px)
  .features
    justify-content: space-around

// section gray

.footer
  text-align: center
  color: #fff
  a
    color: #fff
  &__social
    display: flex
    justify-content: center
    margin-bottom: .5rem
  &__social-link
    height: 36px
    width: 36px 
    margin: 1rem
    transition: all .3s
    &:hover
      transform: scale(1.15)
  &__social-icon
    width: 100%
  &__questions
    @extend .font-pixel
    margin-bottom: 8rem
    font-size: 28px
  &__credits 
    font-size: 14px
    span
      opacity: .5
    a
      opacity: .6

















