doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Artisfy
    meta(name="description" content="Hello World!")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    script(src="https://use.fortawesome.com/4b6a55b9.js")
    link(rel="stylesheet" href="css/main.css")
  body
    <!--[if lte IE 9]>
      p.browser-upgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href="https://browsehappy.com/?locale=en") upgrade your browser
        |  to improve your experience and security.
    <!--<![endif]-->
    .container hello


  script(src="/js/main.js")









