doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Artisfy
    meta(name="description" content="Artisfy 2.0!")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700|VT323")
    link(rel="stylesheet" href="css/main.css")
  body
    <!--[if lte IE 9]>
      p.browser-upgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href="https://browsehappy.com/?locale=en") upgrade your browser
        |  to improve your experience and security.
    <!--<![endif]-->
    .section.section--yellow
      .site__header
        .site__old-sign-in
          a.site__old-sign-in-link(href="#") Sign in
          div (Legacy users only)
        h1.site__title
          span.visually-hidden Artisfy
          img.site__logo(src="/img/artisfy-logo.svg" alt="Artisfy logo")
      .section__content
        .mb--4point5
          h2.section__lead.section__lead--pink.mb--point5 Less Hassle. More Art.
          h3.section__sub-lead.section__sub-lead--pink Introducing Artisfy &mdash; the best client management platform for creatives
        .preview
          .preview__interface
            .preview__monitor-container
              include img/monitor.svg
          .preview__info
            .preview__info-heading Coming mid 2018!
            .preview__email-error.visibility-hidden Please enter a valid email address 😫
            form.preview__info-email-section(action="/")
              .preview__info-email
                input.preview__info-email-input.invisible-input(type="text")
                .preview__info-email-placeholder Enter your email
              button.preview__info-email-button(type="submit") Join the Waitlist
            .preview__info-bonus-text Sign up for 3 months free access.
            .preview__info-hands
              img.preview__icon--hands(src="/img/reaching-hands.svg" alt="Hands reaching up")
    .section.section--blue
      .section__content
        .life-goals
          .life-goals__goal
            .life-goals__image-container
              img.life-goals__image(src="/img/smiling-people-2.svg")
            .life-goals__heading Happy clients.
            .life-goals__text Make your process transparent<br>so clients can enjoy the ride.
          .life-goals__goal
            .life-goals__image-container
              img.life-goals__image(src="/img/smiling-people-1.svg")
            .life-goals__heading Focused freelancers.
            .life-goals__text Spend more time doing<br>what you love to do.
          .life-goals__goal
            .life-goals__image-container
              img.life-goals__image(src="/img/hearts.svg")
            .life-goals__heading Better work.
            .life-goals__text Make every project great<br>and get paid what you deserve.
    .how-section.how-section--section-1.relative
      .diagonal.diagonal--green-1
      .section__content.section__content--green
        h2.section__lead.section__lead--gray.mb--2 How does it work?
    .how-section.how-section--section-2
      .how__parent-container
        .how__neighbor 
          span &nbsp;
        .how__box.how__box-1.relative
          .how__box.how__box-2
            .how__box.how__box-3
              .how__box.how__box-4
                .how__inner-container
                  .how__item 1. Sign up!
                  .how__item 2. Create menu of services
                  .how__item 3. Add “HIRE ME” button to your site
        .how__neighbor.relative
          span &nbsp;
          .diagonal.diagonal--gray

    .section.section--pink.relative.z--1
      .section__content
    .section.section--gray.relative.z--2
      .section__content



  script(src="/js/main.js")









